# 데이터 전처리

실험 1번 -> 대회 log_loss:0.4767405709

실험 2번 -> 대회 log_loss:0.5166502922

**실험 1과 2의 차이는 전처리 방법의 차이가 있다.**

**두 실험 다 TF-IDF 임베딩과 같은 기본 자연어 모델 사용**


1.   실험1

 : 프랑스어->영어 번역, 특수 문자 제거(이로 빈 list가 나오면 제거), 불용어 제거(이로 빈 list가 나오면 제거), 소문자로 전환

2.   실험2

 : 프랑스어->영어 번역, 특수 문자 제거(이로 빈 list가 나오면 제거), 불용어 제거(이로 빈 list가 나오면 제거), 소문자로 전환, 표제화(단어 길이 1개 이하 삭제)

# 전처리

In [ ]:
import pandas as pd 

train_dataset = pd.read_csv("/content/train.csv") 
test_dataset = pd.read_csv("/content/test_x.csv")

## 불어->영어로 번역

In [ ]:
translate_user_dict = {"_un doigt d'eau de vie_.":"a finger of brandy", "Oui, j'ai pris un mot pour un autre.":"Yes, I took one word for another.", "Mais c'est égal.":"But it doesn't matter.", "Oui, j'ai beaucoup à vous dire, chère amie.":"Yes, I have a lot to tell you, dear friend.", "parce que nous avons à parler.":"because we have to talk.", "Pardon, j'ai oublié son nom.":"Sorry, I forgot his name.", "Il n'est pas du pays":"He is not from the country", "quelque chose de bête et d'Allemand dans la physionomie.":"something stupid and German in the physiognomy.", "C'est encore mieux":"It's even better", "j'ai en tout quarante roubles mais":"I have forty rubles in all but", "Grace à Dieu":"Thanks to God", "c'est une si pauvre tête!":"that is such a poor head!", "c'est un pauvre sire, tout de même":"he is a poor sire, all the same", "et puis":"and then", "c'est très":"it's very", "c'est rassurant au plus haut degré.":"that is reassuring to the highest degree.", "Elle me soupçonnera toute sa vie":"She will suspect me all her life", "c'est égal":"is equal", "L'Evangile... voyez-vous, désormais nous prêcherons ensemble":"The Gospel ... see, from now on we will preach together", "c'est admis":"it is admitted", "chère innocente":"dear innocent", "et à cette chère ingrate":"and to this dear ungrateful", "c'est un ange":"it's an angel", "cette pauvre_ auntie":"this poor auntie", "Cap'n":"captain", "jawing--v'yages":"jawing - travels", "a'terwards":"afterwards", "m'clour":"to me", "ma'am":"madam", "Oh, hier il avait tant d'esprit":"Oh, yesterday he had so much wit","d'eau de vie_":"brandy_",
"C'est un pense-creux d'ici":"It's a reminder of here",
"Je n'ai rien contre l'Evangile":"I have nothing against the Gospel",
"C'est le meilleur et le plus irascible homme du monde.":"He's the best and most irascible man in the world.", 
"_C'est un ange; c'était plus qu'un ange pour moi.":"_It's an angel; it was more than an angel to me."}

In [ ]:
keys = list(translate_user_dict.keys()) 
keys_with_length = [(key, len(key)) for key in keys]

In [ ]:
sorted_keys = sorted(keys_with_length, key=lambda x : -x[1]) 
sorted_keys = [ key[0] for key in sorted_keys] 
sorted_keys

["L'Evangile... voyez-vous, désormais nous prêcherons ensemble",
 "quelque chose de bête et d'Allemand dans la physionomie.",
 "C'est le meilleur et le plus irascible homme du monde.",
 "_C'est un ange; c'était plus qu'un ange pour moi.",
 "Oui, j'ai beaucoup à vous dire, chère amie.",
 "Oui, j'ai pris un mot pour un autre.",
 "c'est rassurant au plus haut degré.",
 "j'ai en tout quarante roubles mais",
 "c'est un pauvre sire, tout de même",
 'Elle me soupçonnera toute sa vie',
 "Oh, hier il avait tant d'esprit",
 'parce que nous avons à parler.',
 "Je n'ai rien contre l'Evangile",
 "Pardon, j'ai oublié son nom.",
 "C'est un pense-creux d'ici",
 "c'est une si pauvre tête!",
 "_un doigt d'eau de vie_.",
 'et à cette chère ingrate',
 "Il n'est pas du pays",
 'cette pauvre_ auntie',
 "C'est encore mieux",
 "Mais c'est égal.",
 'chère innocente',
 "jawing--v'yages",
 "c'est un ange",
 "d'eau de vie_",
 'Grace à Dieu',
 "c'est admis",
 "c'est très",
 "c'est égal",
 "a'terwards",
 'et puis',
 "m'clour",
 "Cap'n",
 "ma'am"]

In [ ]:
from tqdm import tqdm

cnt = 0 
text_list = list(train_dataset['text']) 

for i in tqdm(range(len(sorted_keys))): 
  for j in range(len(text_list)): 
    if sorted_keys[i] in text_list[j]: 
      text_list[j] = text_list[j].replace(sorted_keys[i], translate_user_dict[sorted_keys[i]]) 
      cnt = cnt + 1

print("{}번 수정되었습니다.".format(cnt))

100%|██████████| 35/35 [00:00<00:00, 41.74it/s]

156번 수정되었습니다.

In [ ]:
from tqdm import tqdm

cnt = 0 
text_list2 = list(test_dataset['text']) 
for i in tqdm(range(len(sorted_keys))): 
  for j in range(len(text_list2)): 
    if sorted_keys[i] in text_list2[j]: 
      text_list2[j] = text_list2[j].replace(sorted_keys[i], translate_user_dict[sorted_keys[i]]) 
      cnt = cnt + 1 
print("{}번 수정되었습니다.".format(cnt))

100%|██████████| 35/35 [00:00<00:00, 84.10it/s]

42번 수정되었습니다.

In [ ]:
from tqdm import tqdm

def show_check_token_string(check_token, check_df): 
  for i in tqdm(range(len(check_df))): 
    if check_token in check_df['text'].iloc[i]:
       print(check_df['text'].iloc[i])

check_token = "d'eau" 
show_check_token_string(check_token=check_token, check_df=train_dataset)

100%|██████████| 54879/54879 [00:00<00:00, 96281.66it/s]

"How rich they are and how good! And if one could only have _un doigt d'eau de vie_."

In [ ]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

## 불용어 baseline 리스트로 불용어 제거

In [ ]:
from nltk.stem.lancaster import LancasterStemmer
from nltk.stem import WordNetLemmatizer
def remove_stopwords(text):
  final_text = []
  for i in text.split():
    if i.strip().lower() not in stopwords:
      final_text.append(i.strip())
  return " ".join(final_text)


#불용어 baseline
stopwords = [ "a", "about", "above", "after", "again", "against", "all", "am", "an", "and", "any", "are", "as", 
             "at", "be", "because", "been", "before", "being", "below", "between", "both", "but", "by", "could", 
             "did", "do", "does", "doing", "down", "during", "each", "few", "for", "from", "further", "had", "has", 
             "have", "having", "he", "he'd", "he'll", "he's", "her", "here", "here's", "hers", "herself", "him", "himself", 
             "his", "how", "how's", "i", "i'd", "i'll", "i'm", "i've", "if", "in", "into", "is", "it", "it's", "its", "itself", 
             "let's", "me", "more", "most", "my", "myself", "nor", "of", "on", "once", "only", "or", "other", "ought", "our", "ours", 
             "ourselves", "out", "over", "own", "same", "she", "she'd", "she'll", "she's", "should", "so", "some", "such", "than", "that", 
             "that's", "the", "their", "theirs", "them", "themselves", "then", "there", "there's", "these", "they", "they'd", "they'll", 
             "they're", "they've", "this", "those", "through", "to", "too", "under", "until", "up", "very", "was", "we", "we'd", "we'll", 
             "we're", "we've", "were", "what", "what's", "when", "when's", "where", "where's", "which", "while", "who", "who's", "whom", 
             "why", "why's", "with", "would", "you", "you'd", "you'll", "you're", "you've", "your", "yours", "yourself", "yourselves" ]

In [ ]:
train_dataset['clear_text']=text_list
test_dataset['clear_text']=text_list2

## 소문자로 다 처리

In [ ]:
train_dataset['clear_text'] = train_dataset['clear_text'].str.lower().apply(remove_stopwords)
test_dataset['clear_text'] = test_dataset['clear_text'].str.lower().apply(remove_stopwords)

In [ ]:
train_dataset

       index  ...                                         clear_text
0          0  ...  almost choking. much, much wanted say, strange...
1          1  ...                   “your sister asked it, suppose?”
2          2  ...  engaged one day walked, perusing jane’s last l...
3          3  ...  captain porch, keeping carefully way treachero...
4          4  ...  “have mercy, gentlemen!” odin flung hands. “do...
...      ...  ...                                                ...
54874  54874  ...  “is you, mr. smith?” odin whispered. “i hardly...
54875  54875  ...  told plan captain, us settled details accompli...
54876  54876  ...  "your sincere well-wisher, friend, sister, "lu...
54877  54877  ...                          “then wanted lend money?”
54878  54878  ...  certainly not occurred before, said, yes, like...

[54879 rows x 4 columns]

## 특수문자 제거

In [ ]:
#특수 문자 제거
from tqdm import tqdm 
import re 
list1=[]
def get_clean_text_list(data_df):
  stemmer = WordNetLemmatizer() #love와 loves 같은 뜻이므로 이런 것을 하나로 통합을 위해서
                                #표제어 추출로 기본형으로 바꿔준다
  plain_text_list = list(data_df['clear_text']) 
  clear_text_list = [] 
  count=0
  for i in tqdm(range(len(plain_text_list))): 
    plain_text = plain_text_list[i] 
    clear_text = plain_text.replace("\\", "").replace("\n", "") 
    clear_text = re.sub('[-=+,#/\?:^$.@*\"※~&%ㆍ!』\\‘|\(\)\[\]\<\>`\'\“\”…》]', '', clear_text)
    if clear_text.split() == []:
        count += 1
        list1.append(i)
    clear_text_list.append(clear_text.lower()) 
  print(f"학습 데이터 중 빈 문장의 갯수 : {count}")
  return clear_text_list

In [ ]:
train_dataset['clear_text'] = get_clean_text_list(train_dataset) 
test_dataset['clear_text'] = get_clean_text_list(test_dataset)

100%|██████████| 54879/54879 [00:00<00:00, 142225.79it/s]
 46%|████▌     | 8959/19617 [00:00<00:00, 89585.17it/s]

학습 데이터 중 빈 문장의 갯수 : 44

100%|██████████| 19617/19617 [00:00<00:00, 85709.50it/s]

학습 데이터 중 빈 문장의 갯수 : 0

In [ ]:
print(list1)
train_dataset.loc[1455,'clear_text']
train_dataset.loc[train_dataset['clear_text']=='    ']

[1455, 3493, 5523, 5985, 8400, 9874, 12267, 12460, 13055, 14698, 15958, 18475, 19802, 22532, 23137, 23211, 23829, 24589, 25719, 27424, 27575, 27811, 28023, 28224, 28917, 35594, 35754, 38536, 39121, 40152, 43324, 43464, 43686, 43706, 47345, 47525, 47699, 47783, 49308, 50326, 50343, 50963, 52675, 54750]

       index        text  author clear_text
1455    1455   * * * * *       2
3493    3493   * * * * *       4
5523    5523   * * * * *       4
5985    5985   * * * * *       4
8400    8400   * * * * *       2
9874    9874   * * * * *       3
12267  12267   * * * * *       2
12460  12460   * * * * *       4
13055  13055   * * * * *       4
14698  14698   * * * * *       4
15958  15958   * * * * *       4
18475  18475   * * * * *       4
19802  19802   * * * * *       0
22532  22532   * * * * *       4
23137  23137   * * * * *       4
23211  23211   * * * * *       4
23829  23829   * * * * *       4
24589  24589   * * * * *       4
25719  25719   * * * * *       0
27424  27424   * * * * *       4
27575  27575   * * * * *       4
27811  27811   * * * * *       4
28023  28023   * * * * *       2
28224  28224   * * * * *       4
28917  28917   * * * * *       4
35594  35594   * * * * *       4
35754  35754   * * * * *       4
38536  38536   * * * * *       4
39121  39121   * * * * *       4
40152  40152   * * * * *       2
43324  43324   * * * * *       4
43464  43464   * * * * *       4
43686  43686   * * * * *       2
43706  43706   * * * * *       4
47345  47345   * * * * *       4
47525  47525   * * * * *       4
47699  47699   * * * * *       2
47783  47783   * * * * *       2
49308  49308   * * * * *       4
50326  50326   * * * * *       4
50343  50343   * * * * *       4
50963  50963   * * * * *       2
52675  52675   * * * * *       0
54750  54750   * * * * *       4

In [ ]:
import numpy as np
train_dataset['clear_text'].replace('    ', np.nan, inplace=True)

In [ ]:
train_dataset.dropna(subset=['clear_text'], inplace=True)

In [ ]:
train_dataset=train_dataset.reset_index(drop=True)
train_dataset=train_dataset.drop(['index'],axis=1)

In [ ]:
import nltk 
from nltk.corpus import stopwords 

nltk.download("stopwords") 
nltk.download("punkt") 
#불용어 한 번 더 처리 해보기(내장된 기능으로)
stopwords_list = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

## 내장된 불용어 및 토큰화를 통한 표제화 시도(이 때부터 실험1은 위에 것까지 사용하고 실험2에 이 내용도 포함된다.)

In [ ]:
from nltk.tokenize import word_tokenize 
X_train = []
Y_train=[]
train_text1=[] 
train_clear_text = list(train_dataset['clear_text']) 
stemmer = WordNetLemmatizer() #love와 loves 같은 뜻이므로 이런 것을 하나로 통합을 위해서
                                #표제어 추출로 기본형으로 바꿔준다

for i in tqdm(range(len(train_clear_text))): 
  temp = word_tokenize(train_clear_text[i]) 
  temp = [word for word in temp if word not in stopwords_list]
  temp = [stemmer.lemmatize(temps) for temps in temp] #여기에서 표제어 추출하는 이유는 'gentlemen!' 이렇게 붙으면 gentleman!이 아닌 gentlemen!으로 표기함 
  temp = [word for word in temp if len(word) > 1]
  if temp != []:
    wo=temp[0]
    for j in range(1,len(temp)):
      wo=wo+' '+temp[j]
    train_text1.append(wo)
    Y_train.append(train_dataset.loc[i,'author'])
  X_train.append(temp)

100%|██████████| 54835/54835 [00:18<00:00, 2925.66it/s]

In [ ]:
X_test = [] 
test_text1=[]
test_clear_text = list(test_dataset['clear_text']) 
stemmer = WordNetLemmatizer() #love와 loves 같은 뜻이므로 이런 것을 하나로 통합을 위해서
                                #표제어 추출로 기본형으로 바꿔준다

for i in tqdm(range(len(test_clear_text))): 
  temp = word_tokenize(test_clear_text[i]) 
  temp = [word for word in temp if word not in stopwords_list] 
  temp = [stemmer.lemmatize(temps) for temps in temp] #여기에서 표제어 추출하는 이유는 'gentlemen!' 이렇게 붙으면 gentleman!이 아닌 gentlemen!으로 표기함 
  temp = [word for word in temp if len(word) > 1]
  wo=temp[0]
  for j in range(1,len(temp)):
    wo=wo+' '+temp[j]
  test_text1.append(wo)
  X_test.append(temp)

100%|██████████| 19617/19617 [00:11<00:00, 1739.71it/s]

In [ ]:
count=0
for i in X_test:
  if i==[]:
    count+=1
print(count)

0

In [ ]:
word_list = [] 
for i in tqdm(range(len(X_train))): 
  for j in range(len(X_train[i])): 
    word_list.append(X_train[i][j]) 
len(list(set(word_list)))

100%|██████████| 54835/54835 [00:00<00:00, 210727.04it/s]

43894

In [ ]:
Y_train=np.array(Y_train)

In [ ]:
y_train = np.array([x for x in train_dataset['author']])

# 실험1 : TF-IDF를 통한 Embedding과 기본 모델 적용(실험1의 전처리를 활용)

In [ ]:
train_text = train_dataset.clear_text.tolist()
test_text = test_dataset.clear_text.tolist()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(analyzer='word', sublinear_tf=True, ngram_range = (1, 2),
                        max_features=250000, binary=False)

In [ ]:
tfidf.fit(train_text)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0,
                max_features=250000, min_df=1, ngram_range=(1, 2), norm='l2',
                preprocessor=None, smooth_idf=True, stop_words=None,
                strip_accents=None, sublinear_tf=True,
                token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
                vocabulary=None)

In [ ]:
train_tfidf = tfidf.transform(train_text).astype('float32')

In [ ]:
test_tfidf = tfidf.transform(test_text).astype('float32')

In [ ]:
label = np.asarray(train_dataset.author)

In [ ]:
vocab_size=len(list(set(word_list)))
embedding_dim = 256
max_length = 150
padding_type='post'

In [ ]:
from keras_preprocessing.text import Tokenizer
#tokenizer에 fit 
tokenizer = Tokenizer(num_words = vocab_size)
word_index = tokenizer.word_index
vocab_size=len(word_index)+1

In [ ]:
# 가벼운 NLP모델 생성
import tensorflow as tf
from tensorflow.keras import Sequential

model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, input_dim=250000, activation='relu'),
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(5, activation='softmax')
])

In [ ]:
from scipy.sparse import hstack, vstack

df_len = train_tfidf.shape[0]
pred = []
model.compile(loss='sparse_categorical_crossentropy', optimizer=tf.optimizers.Adam(0.001),metrics=['accuracy'])
for i in range(10):
  model.fit(x = vstack((train_tfidf[:int(df_len/10*(i))], train_tfidf[int(df_len/10*(i+1)):])),
            y = np.concatenate([label[:int(df_len/10*(i))], label[int(df_len/10*(i+1)):]], axis = 0),
            validation_data = (train_tfidf[int(df_len/10*i):int(df_len/10*(i+1))],label[int(df_len/10*i):int(df_len/10*(i+1))]),
            epochs = 4)
  proba = model.predict_proba(test_tfidf)
  pred.append(proba)

Epoch 1/4
1543/1543 [==============================] - 18s 11ms/step - loss: 1.2028 - accuracy: 0.5363 - val_loss: 0.6080 - val_accuracy: 0.7910
Epoch 2/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.3158 - accuracy: 0.9047 - val_loss: 0.5642 - val_accuracy: 0.7974
Epoch 3/4
1543/1543 [==============================] - 17s 11ms/step - loss: 0.1209 - accuracy: 0.9678 - val_loss: 0.6080 - val_accuracy: 0.7890
Epoch 4/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0566 - accuracy: 0.9861 - val_loss: 0.6585 - val_accuracy: 0.7868

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/sequential.py:425: UserWarning: `model.predict_proba()` is deprecated and will be removed after 2021-01-01. Please use `model.predict()` instead.
  warnings.warn('`model.predict_proba()` is deprecated and '

Epoch 1/4
1543/1543 [==============================] - 18s 12ms/step - loss: 0.1110 - accuracy: 0.9669 - val_loss: 0.0300 - val_accuracy: 0.9927
Epoch 2/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0442 - accuracy: 0.9885 - val_loss: 0.0342 - val_accuracy: 0.9898
Epoch 3/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0230 - accuracy: 0.9934 - val_loss: 0.0404 - val_accuracy: 0.9876
Epoch 4/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0139 - accuracy: 0.9965 - val_loss: 0.0477 - val_accuracy: 0.9856
Epoch 1/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0160 - accuracy: 0.9956 - val_loss: 0.0051 - val_accuracy: 0.9987
Epoch 2/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0089 - accuracy: 0.9976 - val_loss: 0.0066 - val_accuracy: 0.9978
Epoch 3/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0065 - accuracy: 0.9982 - val_loss: 0.0087 - val_accuracy: 0.9971
Epoch 4/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0051 - accuracy: 0.9985 - val_loss: 0.0105 - val_accuracy: 0.9967
Epoch 1/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0052 - accuracy: 0.9984 - val_loss: 0.0012 - val_accuracy: 0.9996
Epoch 2/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0043 - accuracy: 0.9986 - val_loss: 0.0017 - val_accuracy: 0.9995
Epoch 3/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0035 - accuracy: 0.9989 - val_loss: 0.0021 - val_accuracy: 0.9995
Epoch 4/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0026 - accuracy: 0.9992 - val_loss: 0.0025 - val_accuracy: 0.9991
Epoch 1/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0033 - accuracy: 0.9990 - val_loss: 0.0019 - val_accuracy: 0.9991
Epoch 2/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0023 - accuracy: 0.9992 - val_loss: 0.0027 - val_accuracy: 0.9985
Epoch 3/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0021 - accuracy: 0.9993 - val_loss: 0.0043 - val_accuracy: 0.9985
Epoch 4/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0020 - accuracy: 0.9992 - val_loss: 0.0059 - val_accuracy: 0.9978
Epoch 1/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0028 - accuracy: 0.9990 - val_loss: 0.0011 - val_accuracy: 0.9995
Epoch 2/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0021 - accuracy: 0.9993 - val_loss: 0.0020 - val_accuracy: 0.9995
Epoch 3/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0020 - accuracy: 0.9992 - val_loss: 0.0025 - val_accuracy: 0.9993
Epoch 4/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0019 - accuracy: 0.9993 - val_loss: 0.0030 - val_accuracy: 0.9989
Epoch 1/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0020 - accuracy: 0.9993 - val_loss: 0.0011 - val_accuracy: 0.9995
Epoch 2/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0021 - accuracy: 0.9993 - val_loss: 0.0015 - val_accuracy: 0.9993
Epoch 3/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0015 - accuracy: 0.9994 - val_loss: 0.0020 - val_accuracy: 0.9993
Epoch 4/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0017 - accuracy: 0.9993 - val_loss: 0.0025 - val_accuracy: 0.9991
Epoch 1/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0019 - accuracy: 0.9991 - val_loss: 0.0019 - val_accuracy: 0.9991
Epoch 2/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0016 - accuracy: 0.9994 - val_loss: 0.0026 - val_accuracy: 0.9989
Epoch 3/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0014 - accuracy: 0.9995 - val_loss: 0.0030 - val_accuracy: 0.9987
Epoch 4/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0014 - accuracy: 0.9994 - val_loss: 0.0035 - val_accuracy: 0.9987
Epoch 1/4
1543/1543 [==============================] - 18s 12ms/step - loss: 0.0018 - accuracy: 0.9993 - val_loss: 0.0016 - val_accuracy: 0.9995
Epoch 2/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0015 - accuracy: 0.9994 - val_loss: 0.0021 - val_accuracy: 0.9991
Epoch 3/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0014 - accuracy: 0.9995 - val_loss: 0.0025 - val_accuracy: 0.9991
Epoch 4/4
1543/1543 [==============================] - 18s 12ms/step - loss: 0.0011 - accuracy: 0.9994 - val_loss: 0.0030 - val_accuracy: 0.9987
Epoch 1/4
1543/1543 [==============================] - 18s 12ms/step - loss: 0.0017 - accuracy: 0.9993 - val_loss: 6.0267e-04 - val_accuracy: 0.9996
Epoch 2/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0016 - accuracy: 0.9994 - val_loss: 6.8112e-04 - val_accuracy: 0.9995
Epoch 3/4
1543/1543 [==============================] - 18s 12ms/step - loss: 0.0013 - accuracy: 0.9994 - val_loss: 7.9171e-04 - val_accuracy: 0.9995
Epoch 4/4
1543/1543 [==============================] - 18s 11ms/step - loss: 0.0014 - accuracy: 0.9993 - val_loss: 0.0010 - val_accuracy: 0.9995

In [ ]:
submission=pd.DataFrame(np.mean(pred, axis = 0))
submission

              0         1             2             3             4
0      0.000028  0.767536  1.292868e-01  1.031040e-01  4.528813e-05
1      0.036137  0.315264  3.440169e-02  6.615162e-03  6.075814e-01
2      0.999991  0.000003  1.923541e-06  3.250161e-07  3.886545e-06
3      0.004994  0.000001  9.753662e-01  3.435909e-06  1.963470e-02
4      0.800370  0.000552  1.956341e-05  1.989727e-01  8.590148e-05
...         ...       ...           ...           ...           ...
19612  0.000011  0.999988  6.734959e-09  7.425462e-07  4.758795e-08
19613  0.891195  0.000025  1.733312e-04  1.110919e-04  1.084958e-01
19614  0.000017  0.999969  6.244849e-07  1.349909e-05  3.467702e-07
19615  0.000109  0.999827  1.642014e-05  4.096863e-05  6.337807e-06
19616  0.999647  0.000004  8.028673e-06  2.305070e-04  1.098777e-04

[19617 rows x 5 columns]

In [ ]:
submission.to_csv('/content/submission.csv', index = False, encoding = 'utf-8')

# 실험2: TF-IDF와 모델 적용(실험2의 전처리를 활용)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(analyzer='word', sublinear_tf=True, ngram_range = (1, 2),
                        max_features=250000, binary=False)

In [ ]:
tfidf.fit(train_text1)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0,
                max_features=250000, min_df=1, ngram_range=(1, 2), norm='l2',
                preprocessor=None, smooth_idf=True, stop_words=None,
                strip_accents=None, sublinear_tf=True,
                token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
                vocabulary=None)

In [ ]:
train_tfidf = tfidf.transform(train_text1).astype('float32')

In [ ]:
test_tfidf = tfidf.transform(test_text1).astype('float32')

In [ ]:
vocab_size=len(list(set(word_list)))
embedding_dim = 256
max_length = 150
padding_type='post'

In [ ]:
from keras_preprocessing.text import Tokenizer
#tokenizer에 fit 
tokenizer = Tokenizer(num_words = vocab_size)
word_index = tokenizer.word_index
vocab_size=len(word_index)+1

In [ ]:
# 가벼운 NLP모델 생성
import tensorflow as tf
from tensorflow.keras import Sequential

model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, input_dim=250000, activation='relu'),
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(5, activation='softmax')
])

In [ ]:
from scipy.sparse import hstack, vstack

df_len = train_tfidf.shape[0]
pred = []
model.compile(loss='sparse_categorical_crossentropy', optimizer=tf.optimizers.Adam(0.001),metrics=['accuracy'])
for i in range(10):
  model.fit(x = vstack((train_tfidf[:int(df_len/10*(i))], train_tfidf[int(df_len/10*(i+1)):])),
            y = np.concatenate([Y_train[:int(df_len/10*(i))], Y_train[int(df_len/10*(i+1)):]], axis = 0),
            validation_data = (train_tfidf[int(df_len/10*i):int(df_len/10*(i+1))],Y_train[int(df_len/10*i):int(df_len/10*(i+1))]),
            epochs = 4)
  print("완료")
  proba = model.predict_proba(test_tfidf)
  print("wo")
  pred.append(proba)

Epoch 1/4
1541/1541 [==============================] - 99s 64ms/step - loss: 1.2370 - accuracy: 0.5251 - val_loss: 0.6722 - val_accuracy: 0.7614
Epoch 2/4
1541/1541 [==============================] - 99s 64ms/step - loss: 0.3873 - accuracy: 0.8805 - val_loss: 0.6275 - val_accuracy: 0.7694
Epoch 3/4
1541/1541 [==============================] - 98s 64ms/step - loss: 0.1735 - accuracy: 0.9493 - val_loss: 0.6572 - val_accuracy: 0.7689
Epoch 4/4
1541/1541 [==============================] - 100s 65ms/step - loss: 0.0978 - accuracy: 0.9718 - val_loss: 0.7113 - val_accuracy: 0.7616
완료

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/engine/sequential.py:425: UserWarning: `model.predict_proba()` is deprecated and will be removed after 2021-01-01. Please use `model.predict()` instead.
  warnings.warn('`model.predict_proba()` is deprecated and '

wo
Epoch 1/4
1541/1541 [==============================] - 102s 66ms/step - loss: 0.1482 - accuracy: 0.9542 - val_loss: 0.0647 - val_accuracy: 0.9812
Epoch 2/4
1541/1541 [==============================] - 102s 66ms/step - loss: 0.0777 - accuracy: 0.9756 - val_loss: 0.0727 - val_accuracy: 0.9770
Epoch 3/4
1541/1541 [==============================] - 101s 66ms/step - loss: 0.0519 - accuracy: 0.9832 - val_loss: 0.0835 - val_accuracy: 0.9724
Epoch 4/4
1541/1541 [==============================] - 101s 65ms/step - loss: 0.0396 - accuracy: 0.9866 - val_loss: 0.0954 - val_accuracy: 0.9692
완료
wo
Epoch 1/4
1541/1541 [==============================] - 99s 64ms/step - loss: 0.0416 - accuracy: 0.9861 - val_loss: 0.0268 - val_accuracy: 0.9890
Epoch 2/4
1541/1541 [==============================] - 104s 68ms/step - loss: 0.0307 - accuracy: 0.9895 - val_loss: 0.0316 - val_accuracy: 0.9876
Epoch 3/4
1541/1541 [==============================] - 103s 67ms/step - loss: 0.0249 - accuracy: 0.9914 - val_loss: 0.0380 - val_accuracy: 0.9854
Epoch 4/4
1541/1541 [==============================] - 104s 67ms/step - loss: 0.0221 - accuracy: 0.9921 - val_loss: 0.0431 - val_accuracy: 0.9845
완료
wo
Epoch 1/4
1541/1541 [==============================] - 106s 69ms/step - loss: 0.0245 - accuracy: 0.9914 - val_loss: 0.0155 - val_accuracy: 0.9949
Epoch 2/4
1541/1541 [==============================] - 102s 66ms/step - loss: 0.0208 - accuracy: 0.9923 - val_loss: 0.0188 - val_accuracy: 0.9938
Epoch 3/4
1541/1541 [==============================] - 98s 64ms/step - loss: 0.0189 - accuracy: 0.9927 - val_loss: 0.0229 - val_accuracy: 0.9923
Epoch 4/4
1541/1541 [==============================] - 100s 65ms/step - loss: 0.0182 - accuracy: 0.9928 - val_loss: 0.0260 - val_accuracy: 0.9923
완료
wo
Epoch 1/4
1541/1541 [==============================] - 98s 64ms/step - loss: 0.0185 - accuracy: 0.9935 - val_loss: 0.0140 - val_accuracy: 0.9938
Epoch 2/4
1541/1541 [==============================] - 97s 63ms/step - loss: 0.0167 - accuracy: 0.9934 - val_loss: 0.0168 - val_accuracy: 0.9934
Epoch 3/4
1541/1541 [==============================] - 99s 64ms/step - loss: 0.0159 - accuracy: 0.9939 - val_loss: 0.0194 - val_accuracy: 0.9927
Epoch 4/4
1541/1541 [==============================] - 99s 64ms/step - loss: 0.0150 - accuracy: 0.9938 - val_loss: 0.0223 - val_accuracy: 0.9912
완료
wo
Epoch 1/4
1541/1541 [==============================] - 99s 64ms/step - loss: 0.0161 - accuracy: 0.9934 - val_loss: 0.0120 - val_accuracy: 0.9945
Epoch 2/4
1541/1541 [==============================] - 98s 63ms/step - loss: 0.0149 - accuracy: 0.9938 - val_loss: 0.0147 - val_accuracy: 0.9936
Epoch 3/4
1541/1541 [==============================] - 99s 65ms/step - loss: 0.0143 - accuracy: 0.9942 - val_loss: 0.0166 - val_accuracy: 0.9922
Epoch 4/4
1541/1541 [==============================] - 102s 66ms/step - loss: 0.0135 - accuracy: 0.9943 - val_loss: 0.0183 - val_accuracy: 0.9918
완료
wo
Epoch 1/4
1541/1541 [==============================] - 99s 64ms/step - loss: 0.0145 - accuracy: 0.9939 - val_loss: 0.0107 - val_accuracy: 0.9953
Epoch 2/4
1541/1541 [==============================] - 100s 65ms/step - loss: 0.0137 - accuracy: 0.9943 - val_loss: 0.0128 - val_accuracy: 0.9943
Epoch 3/4
1541/1541 [==============================] - 99s 64ms/step - loss: 0.0134 - accuracy: 0.9944 - val_loss: 0.0151 - val_accuracy: 0.9931
Epoch 4/4
1541/1541 [==============================] - 99s 64ms/step - loss: 0.0130 - accuracy: 0.9943 - val_loss: 0.0160 - val_accuracy: 0.9936
완료
wo
Epoch 1/4
1541/1541 [==============================] - 98s 64ms/step - loss: 0.0134 - accuracy: 0.9945 - val_loss: 0.0121 - val_accuracy: 0.9932
Epoch 2/4
1541/1541 [==============================] - 99s 64ms/step - loss: 0.0128 - accuracy: 0.9946 - val_loss: 0.0140 - val_accuracy: 0.9929
Epoch 3/4
1541/1541 [==============================] - 97s 63ms/step - loss: 0.0125 - accuracy: 0.9948 - val_loss: 0.0164 - val_accuracy: 0.9920
Epoch 4/4
1541/1541 [==============================] - 98s 63ms/step - loss: 0.0119 - accuracy: 0.9949 - val_loss: 0.0172 - val_accuracy: 0.9918
완료
wo
Epoch 1/4
1541/1541 [==============================] - 98s 63ms/step - loss: 0.0125 - accuracy: 0.9949 - val_loss: 0.0137 - val_accuracy: 0.9936
Epoch 2/4
1541/1541 [==============================] - 97s 63ms/step - loss: 0.0119 - accuracy: 0.9949 - val_loss: 0.0156 - val_accuracy: 0.9932
Epoch 3/4
1541/1541 [==============================] - 99s 64ms/step - loss: 0.0117 - accuracy: 0.9950 - val_loss: 0.0171 - val_accuracy: 0.9925
Epoch 4/4
1541/1541 [==============================] - 97s 63ms/step - loss: 0.0114 - accuracy: 0.9949 - val_loss: 0.0192 - val_accuracy: 0.9922
완료
wo
Epoch 1/4
1541/1541 [==============================] - 98s 64ms/step - loss: 0.0130 - accuracy: 0.9943 - val_loss: 0.0066 - val_accuracy: 0.9967
Epoch 2/4
1541/1541 [==============================] - 99s 64ms/step - loss: 0.0126 - accuracy: 0.9944 - val_loss: 0.0078 - val_accuracy: 0.9962
Epoch 3/4
1541/1541 [==============================] - 98s 64ms/step - loss: 0.0124 - accuracy: 0.9946 - val_loss: 0.0087 - val_accuracy: 0.9962
Epoch 4/4
1541/1541 [==============================] - 99s 64ms/step - loss: 0.0121 - accuracy: 0.9945 - val_loss: 0.0094 - val_accuracy: 0.9956
완료
wo

In [ ]:
submission1=pd.DataFrame(np.mean(pred, axis = 0))

In [ ]:
submission1

              0             1             2             3             4
0      0.000052  3.009487e-01  1.939046e-02  6.794456e-01  1.628606e-04
1      0.011434  2.130671e-01  9.957295e-03  7.559936e-01  9.547600e-03
2      0.999964  5.143142e-06  1.159512e-05  8.397381e-07  1.807547e-05
3      0.002512  7.156198e-07  9.968103e-01  1.344445e-05  6.630187e-04
4      0.999012  1.092531e-04  6.172190e-05  5.365476e-04  2.809331e-04
...         ...           ...           ...           ...           ...
19612  0.000110  9.998702e-01  4.826353e-07  5.558391e-06  1.335427e-05
19613  0.084950  2.646949e-05  4.760989e-05  2.156950e-05  9.149547e-01
19614  0.000131  9.990660e-01  5.823164e-05  7.438374e-04  5.960819e-07
19615  0.000344  9.996395e-01  6.079268e-06  4.938213e-06  5.497601e-06
19616  0.999836  9.942130e-07  3.307827e-06  4.681409e-05  1.129014e-04

[19617 rows x 5 columns]